<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />
<div class="container">
    <div class="row">
        <form class="form-horizontal" th:action="@{/book/add}" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend class="central-block">Information of adding book
                <span style="font-size: small">* Is required field </span>
            </legend>

        <div class="form-group">
            <label class="col-md-2 control-label" for="title">* Title </label>
            <div class="col-md-8">
                <input type="text" name = "title" class="form-control" id="title"  th:value="${book.title}" placeholder="Title"/>
            <span class="help-block"> Title of book </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="author">* Author</label>
            <div class="col-md-8">
            <input type="text" name="author" class="form-control" id="author"  th:value="${book.author}" placeholder="Author"/>
            <span class="help-block"> Author of book </span>
            </div>
        </div>
       <div class="form-group">
             <label class="col-md-2 control-label" for="publisher">* Publisher</label>
           <div class="col-md-8">
             <input type="text" name="publisher" class="form-control" id="publisher"  th:value="${book.publisher}" placeholder="Publisher"/>
             <span class="help-block"> Publisher of a book </span>
           </div>
        </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="publicationDate">* PublicationDate</label>
                <div class="col-md-8">
                <input type="data" name="publicationDate" class="form-control" id="publicationDate"  th:value="${book.publicationDate}" placeholder="publicationDate"/>
                <span class="help-block"> Publication date of a book </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="language">* Language</label>
                <div class="col-md-8">
                    <select th:value="${book.language}" id="language" name="language" class="form-control">
                        <option value="Polish"> Polish</option>
                        <option value="Spanish"> Spanish</option>
                        <option value="English"> English</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="category">* Category</label>
                <div class="col-md-8">
                    <select th:value="${book.category}" name="category" id="category" class="form-control">
                        <option value="" selected="selected" disabled="disabled"> Please Select an option ... </option>
                        <option value="Literature" th:selected="(${book.category} == 'Literature')"> Literature</option>
                        <option value="Programming" th:selected="(${book.category} == 'Programming')"> Programming</option>
                        <option value="Engineering" th:selected="(${book.category} == 'Engineering')"> Engineering</option>
                        <option value="Drama" th:selected="(${book.category} == 'Drama')"> Drama</option>
                        <option value="Management" th:selected="(${book.category} == 'Management')"> Management</option>
                        <option value="Fiction" th:selected="(${book.category} == 'Fiction')"> Fiction</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="numberOfPages">* Number of pages</label>
                <div class="col-md-8">
                <input type="data" class="form-control" name="numberOfPages" id="numberOfPages"  th:value="${book.numberOfPages}" placeholder="numberOfPages"/>
                <span class="help-block"> Number of pages of the book </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="format">* Format</label>
                <div class="col-md-8">
                    <select th:value="${book.format}" name="format" id="format" class="form-control">
                        <option value="Paperback"> Paperback</option>
                        <option value="Hardcover"> Hardcover</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="shippingWeight">* Shipping weight</label>
                <div class="col-md-8">
                <input type="data" class="form-control" name="shippingWeight" id="shippingWeight"  th:value="${book.shippingWeight}" placeholder="shippingWeight"/>
                <span class="help-block"> Shipping weight of the book </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="priceForRent"> Price for rent</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input th:value="${book.priceForRent}" type="number" name="priceForRent"
                        class="form-control" id="priceForRent" placeholder="Our price for rent"/>
                    </div>
                    <span class="help-block">Our price for rent of this book</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="inStockNumber"> Number of in stock number</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">Nm</span>
                        <input th:value="${book.inStockNumber}" type="number" name="inStockNumber"
                               class="form-control" id="inStockNumber" placeholder="Number of in stock number"/>
                    </div>
                    <span class="help-block">Number of in stock number</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="active">* Status</label>
                <div class="col-md-8">
                        <label><input value="true" type="radio" name="active"
                               class="form-control"/> Active
                        </label>
                        <label><input value="false" type="radio" name="active"
                                      class="form-control"/> Inactive
                        </label>
                    <span class="help-block">Whether the book is active</span>
                </div>
            </div>

            <!--Description-->
            <div class="form-group">
                <label class="col-md-2 control-label" for="description">Description</label>
                <div class="col-md-8">
                <textarea type="text" name="description" rows="5" class="form-control" id="description" th:value="${book.description}"
                placeholder="Description"/>
                <span class="help-block">Description of the book</span>
                </div>
            </div>

            <!--Upload Image-->
            <div class="form-group">
                <div class="col-md-2">
                    <label class="col-md-2 control-label" for="bookImage">Upload image</label>
                </div>
                    <div class="col-md-8">
                    <input id="bookImage" type="file" name="bookImage" th:value="${book.bookImage}" />
                    </div>


                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                    <button type="submit" class="btn btn-success"> Add Image</button>
                    <a class="btn btn-danger" th:href="@{/}">Cancel</a>
                 </div>
                </div>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </fieldset>
        </form>
    </div>
</div>
<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>